:root {
    --primary-color: #845ec2;
    --secondary-color: #b39cd0;
    --tertiary-color: #fbeaff;
    --accent-color: #00c9a7;
}

html {
    font-family: 'Roboto', sans-serif;

}
header{
    background-color: var(--primary-color);
    padding:1rem;
    color:white;
}

.text-center {
    text-align: center;
    background-color: greenyellow;
    background: linear-gradient(45deg, blue, red);
    color: white;
}

.flex {
    display: flex;
    align-items:center;

}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.bg-primary {
    background-color:
}

#hero{
    background-image: url('./images/bgnewyork.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    color:white;
}