:root {
    --primary-color: #845ec2;
    --secondary-color: #b39cd0;
    --tertiary-color: #fbeaff;
    --accent-color: #00c9a7;
}

html {
    font-family: 'Roboto', sans-serif;

}


.text-center {
    text-align: center;
  

}

.flex {
    display: flex;
    align-items: center;

}

.items-center {
    align-items: center;

}
.rounded{
    border-radius:2px;
}

.justify-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
    
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}
.gap{
    gap:1rem;
}
.bg-secondary, .bg-secondary, .bg-tertiary{
    color: #333;
    padding:1rem;
}
.bg-primary{
    background-color: var(--primary-color);
}
.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-tertiary{
    background-color: var(--tertiary-color);
}


#hero{
    background-image: url('./images/bgnewyork.jpg');
    background-size:cover;
    background-position:center;
    height:50vh;
    color:white;
}
h2 {
    margin:0;
}
.bg-translucent{
    background-color: rgba(0, 0, 0, 0.5);
    padding:1rem;
    color:white;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin:0.5;
  }
  .inline-block {
    display: inline-block;
  }
  .text-no-underline {
    text-decoration: none;
  }
  .text-dark {
    color: #333;
  }

  